<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>

    <module assemblyFile="XIMALAYA.PCDesktop.Modules.Settings.dll"
            moduleType="XIMALAYA.PCDesktop.Modules.Settings, XIMALAYA.PCDesktop.Modules.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="SettingsModule" startupLoaded="false"></module>

    <module assemblyFile="XIMALAYA.PCDesktop.Modules.MusicPlayer.dll"
            moduleType="XIMALAYA.PCDesktop.Modules.MusicPlayer, XIMALAYA.PCDesktop.Modules.MusicPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MusicPlayerModule" startupLoaded="true"></module>

    <module assemblyFile="XIMALAYA.PCDesktop.Modules.SoundListModule.dll"
        moduleType="XIMALAYA.PCDesktop.Modules.SoundListModule, XIMALAYA.PCDesktop.Modules.SoundListModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="SoundListModule" startupLoaded="true">
    </module>

    <module assemblyFile="XIMALAYA.PCDesktop.Modules.AlbumListModule.dll"
        moduleType="XIMALAYA.PCDesktop.Modules.AlbumListModule, XIMALAYA.PCDesktop.Modules.AlbumListModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="AlbumListModule" startupLoaded="true">
    </module>

    <module assemblyFile="XIMALAYA.PCDesktop.Modules.DiscoverPage.dll"
            moduleType="XIMALAYA.PCDesktop.Modules.DiscoverPage, XIMALAYA.PCDesktop.Modules.DiscoverPage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DiscoverModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="SoundListModule" />
        <dependency moduleName="AlbumListModule" />
      </dependencies>
    </module>

    <!--<module assemblyFile="XIMALAYA.PCDesktop.Modules.Category.dll"
        moduleType="XIMALAYA.PCDesktop.Modules.Category, XIMALAYA.PCDesktop.Modules.Category, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="CategoryModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DiscoverModule" />
      </dependencies>
    </module>-->

  </modules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
